<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>把你App的数据写到健康中</string>
	<key>NSHealthShareUsageDescription</key>
	<string>需要获取你的运动数据，来提供更好的服务</string>
</dict>
</plist>
